Repository RUANHAOANDROID/heji: changes, and which Drone steps are due for each by the changed paths.
All: client-build, server-build-push

client-build:
  steps:
  - name: build-upload-apk
    image: gradle:8.9
    volumes:
    - name: sdk
      path: /drone/src/sdk
    - name: gradle-cache
      path: /home/gradle/.gradle
    environment:
      ANDROID_HOME: /drone/src/sdk
    commands:
    - cd client
    - ls -l
    - sleep 1000
    - chmod +x gradlew
    - chmod +x updav
  ...

server-build-push:
  steps:
  - name: build_server_push
    image: docker:dind
    volumes:
    - name: docker
      path: /var/run/docker.sock
    environment:
      DOCKER_BUILDKIT: 1
      DOCKER_USER:
        from_secret: DOCKER_USER
      DOCKER_PWD:
        from_secret: DOCKER_PWD
    commands:
    - cd server
    - docker --version
  ...

不在等待
  .drone.yml
Due: none

顺序构建
  .drone.yml
Due: none

顺序构建a
  .drone.yml
Due: none

顺序构建b
  .drone.yml
Due: none

sleep
  .drone.yml
Due: none

add go mod sum
  .drone.yml
  server/Dockerfile
  server/go.sum
Due: server-build-push

add go download
  .drone.yml
  server/Dockerfile
Due: server-build-push

add go download
  server/go.sum
Due: server-build-push

go sum
  server/go.mod
  server/go.sum
Due: server-build-push

优化分类
  client/app/src/main/java/com/hao/heji/Constants.kt
  client/app/src/main/java/com/hao/heji/ui/category/adapter/CategoryManagerAdapter.kt
Due: client-build

Update README.md
  README.md
Due: none

Path conditions:
  client-build: any of: client/**
  server-build-push: any of: server/**
